<h3>Heroes Component</h3>
<h4>Two - Way Binding illlustrated</h4>


<!--uncomment if you want to see 2-way bidning-->
<div class="border-bottom ">
  <div class="row mb-1">
    <label class="col-6" for="id">
      ID:
    </label>
      <input [(ngModel)]="hero.id" placeholder="ID" class="col-auto" name="id">
  </div>
  <div class="row mb-1">
    <label class="col-6" for="name">
      Name:
    </label>
      <input [(ngModel)]="hero.name" placeholder="name" class="col-auto" name="name">
   
  </div>
</div>

<div class="row">
  <p class="col-6">ID :</p>
  <p class="col-6"> {{hero.id}}</p>
</div>
<div class="row">
  <p class="col-6">Name :</p>
  <p class="col-6">{{hero.name}}</p>
</div>
